.metadata/
RemoteSystemsTempFiles/
PBLV5/Debug/

# Prerequisites
*.d

# Compiled Object files

*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#local settings
PBLV5/.settings/language.settings.xml
*.orig 

#KiCad files
*.net
*.bak
